[Unit]
Description=TLS Reverse proxy
After=network.target

[Service]
Type=simple
User=user
ExecStart=/home/user/bin/reverse start
Restart=on-failure

[Install]
WantedBy=multi-user.target
